name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ACR
        run: echo "${{ secrets.ACR_PASSWORD }}" | docker login crpi-2ya7uhq4uacai3if.cn-hangzhou.personal.cr.aliyuncs.com -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build the Docker image with arguments
        run: |
          docker build \
            --build-arg MAVEN_REPO_USERNAME=${{ secrets.MAVEN_USER }} \
            --build-arg MAVEN_REPO_PASSWORD=${{ secrets.MAVEN_PASS }} \
            -t crpi-2ya7uhq4uacai3if.cn-hangzhou.personal.cr.aliyuncs.com/shopmind-dev/shopmind-user-service:${{ github.sha }} .

      - name: Push the Docker image
        run: docker push crpi-2ya7uhq4uacai3if.cn-hangzhou.personal.cr.aliyuncs.com/shopmind-dev/shopmind-user-service:${{ github.sha }}


